[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
docker = "*"
black = "*"
mypy = "*"
pylint = "*"
jupyter = {extras = ["notebook"],version = "*"}
flake8 = "*"
autoflake = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
pytest = "*"
fastapi = "*"
